In [40]:
import pandas as pd
import numpy as np
from IPython.display import display
pd.set_option('display.max_columns', None)

## Loading Datasets

In [2]:
_path = r'C:\Users\DucTRung\Desktop\My_Projects\European_Footboll\data_set\soccer'

### match

In [3]:
match_df = pd.read_csv(_path + '\Match.csv', sep='\t')

In [42]:
display(match_df.head())

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,home_player_X2,home_player_X3,home_player_X4,home_player_X5,home_player_X6,home_player_X7,home_player_X8,home_player_X9,home_player_X10,home_player_X11,away_player_X1,away_player_X2,away_player_X3,away_player_X4,away_player_X5,away_player_X6,away_player_X7,away_player_X8,away_player_X9,away_player_X10,away_player_X11,home_player_Y1,home_player_Y2,home_player_Y3,home_player_Y4,home_player_Y5,home_player_Y6,home_player_Y7,home_player_Y8,home_player_Y9,home_player_Y10,home_player_Y11,away_player_Y1,away_player_Y2,away_player_Y3,away_player_Y4,away_player_Y5,away_player_Y6,away_player_Y7,away_player_Y8,away_player_Y9,away_player_Y10,away_player_Y11,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.73,3.40,5.00,1.75,3.35,4.20,1.85,3.2,3.5,1.80,3.3,3.75,NaN,NaN,NaN,1.70,3.30,4.33,1.90,3.3,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.95,3.20,3.60,1.80,3.30,3.95,1.90,3.2,3.5,1.90,3.2,3.50,NaN,NaN,NaN,1.83,3.30,3.60,1.95,3.3,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.38,3.30,2.75,2.40,3.30,2.55,2.60,3.1,2.3,2.50,3.2,2.50,NaN,NaN,NaN,2.50,3.25,2.40,2.63,3.3,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.44,3.75,7.50,1.40,4.00,6.80,1.40,3.9,6.0,1.44,3.6,6.50,NaN,NaN,NaN,1.44,3.75,6.00,1.44,4.0,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.00,3.50,1.65,5.00,3.50,1.60,4.00,3.3,1.7,4.00,3.4,1.72,NaN,NaN,NaN,4.20,3.40,1.70,4.50,3.5,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

### player_attributes

In [7]:
player_df = pd.read_csv(_path + '\Player_Attributes.csv', sep='\t')

In [52]:
player_df.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,63.0,41.0,45.0,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

## What is the connector between three table above?
#### home_player_x

In [ ]:
def get_home_overall_rating(match, player):
    match_date = pd.to_datetime(match['date'])
    player_date = pd.to_datetime(player['date'])

    for i in range(1, 12):
        player = 'home_player_'+str(i)
        player_id = match[player]
        
        if np.isnan(player_id) == False:
            overall = player_df[(player_df['player_api_id'] == player_id)]
            current_overall = player[match_date > player_date]
            print(current_overall)

In [ ]:
att = match_df.apply(lambda x : get_home_overall_rating(x, player_df), axis=1)

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22

Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22

Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22

Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22

Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22

Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22

Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22

Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22

Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22

Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22

Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22

Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22

Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]
0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]