In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 0)
pd.set_option('display.max_rows', 0)
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
data_path = r'C:\Users\DucTRung\Desktop\data_set\lux_stay'

In [3]:
df = pd.read_csv(data_path+'\cleansed_address_luxstay.csv')

In [4]:
df.describe(include='all')

                  id  num_bedrooms  num_bathrooms      num_beds  ...   province  district exp_type  region
count   11128.000000  11128.000000   11128.000000  11128.000000  ...      11128     11128    11128   11128
unique           NaN           NaN            NaN           NaN  ...         19        65        3       3
top              NaN           NaN            NaN           NaN  ...  HoChiMinh  Tp.DaLat    Delta   South
freq             NaN           NaN            NaN           NaN  ...       2695      1523     5611    5110
mean    32668.063803      1.660226       1.600377      2.228433  ...        NaN       NaN      NaN     NaN
std     14902.385024      1.308190       1.314549      2.342501  ...        NaN       NaN      NaN     NaN
min     10080.000000      0.000000       0.000000      1.000000  ...        NaN       NaN      NaN     NaN
25%     21714.500000      1.000000       1.000000      1.000000  ...        NaN       NaN      NaN     NaN
50%     30947.000000      1.000000       1.000000      2.000000  ...        NaN       NaN      NaN     NaN
75%     38701.250000      2.000000       2.000000      2.000000  ...        NaN       NaN      NaN     NaN
max     69183.000000     27.000000      27.000000     50.000000  ...        NaN       NaN      NaN     NaN

[11 rows x 32 columns]

## Note: Describe dataset

* Number of samples = 10341 (accommadation)
* Number of features = 30

* The feature has nulls:
    * max_stay
    * longitude
    
* Dataset on:
    * 2 types of booking with 'request_to_book' (5587)
    * 6 types of property with Apartment most frequency (2448)
    * 12 cities with HoChiMinh most frequency (2680)
    * 50 districts with DaLat most frequency (1469)
    
* High_variance:
    * Checkin (nightly)/ Weekly price
    * Cleaning fee
    * additional_guests_fee
    * min_stay
    
* Outlier:
    * All

## Dealing with Missing Values

In [5]:
for i, j in zip(df.isnull().sum().index, df.isnull().sum()):
    print('{}: {}'.format(i, j))

id: 0
num_bedrooms: 0
num_bathrooms: 0
num_beds: 0
max_guests: 0
booking_type: 0
popular: 0
review_count: 0
rating: 0
checkin_price: 0
nightly_price: 0
monthly_price: 0
weekly_price: 0
cleaning_fee: 0
security_fee: 0
additional_guests_fee: 0
additional_children_fee: 0
additional_infants_fee: 0
standard_guests: 0
standard_children: 0
standard_infants: 0
min_stay: 0
max_stay: 7119
property_type: 0
address: 0
lat: 0
lon: 409
host: 0
province: 0
district: 0
exp_type: 0
region: 0

In [6]:
data = df.drop(['lat', 'lon', 'host', 'address', 'popular', 'monthly_price', 'security_fee'], axis=1)

In [7]:
def max_stay_boolean(data):
    if np.isnan(data):
        return 'no_limit'
    else:
        return 'limit'

data['max_stay'] = data['max_stay'].apply(max_stay_boolean)

## Distribution

### Describe_Before

In [8]:
data[['num_bedrooms', 'num_bathrooms', 'num_beds', 'max_guests',
 'checkin_price', 'weekly_price', 
 'cleaning_fee','additional_guests_fee', 'additional_children_fee', 
 'additional_infants_fee', 'standard_guests', 'standard_children',
 'standard_infants', 'min_stay']].describe(include='all')

       num_bedrooms  num_bathrooms      num_beds  ...  standard_children  standard_infants       min_stay
count  11128.000000   11128.000000  11128.000000  ...       11128.000000      11128.000000   11128.000000
mean       1.660226       1.600377      2.228433  ...           3.807333          0.218368      19.114396
std        1.308190       1.314549      2.342501  ...           4.861993          1.486870    1895.915952
min        0.000000       0.000000      1.000000  ...           0.000000          0.000000       1.000000
25%        1.000000       1.000000      1.000000  ...           2.000000          0.000000       1.000000
50%        1.000000       1.000000      2.000000  ...           2.000000          0.000000       1.000000
75%        2.000000       2.000000      2.000000  ...           4.000000          0.000000       1.000000
max       27.000000      27.000000     50.000000  ...         127.000000         60.000000  200000.000000

[8 rows x 14 columns]

#### 'price'

In [9]:
# Checkin_price / nightly
data = data[data['checkin_price'] <= data['checkin_price'].quantile(q=.99)]
# weekly_price
data = data[data['weekly_price'] <= data['weekly_price'].quantile(q=.99)]

#### 'fee'

In [10]:
# Cleaning_fee
data = data[data['cleaning_fee'] <= data['cleaning_fee'].quantile(q=.99)]
# additional_guests_fee
data = data[data['additional_guests_fee'] <= data['additional_guests_fee'].quantile(q=.99)]

#### 'room_quality'

In [11]:
# Number of bedrooms
data = data[data['num_bedrooms'] <= data['num_bedrooms'].quantile(q=.99)]
# Number of bathrooms
data = data[data['num_bathrooms'] <= data['num_bathrooms'].quantile(q=.99)]
# Number of beds
data = data[data['num_beds'] <= data['num_beds'].quantile(q=.99)]
# Max_guest
data = data[data['max_guests'] <= data['max_guests'].quantile(q=.99)]
# std_guests
data = data[data['standard_guests'] <= data['standard_guests'].quantile(q=.99)]
# std_children
data = data[data['standard_children'] <= data['standard_children'].quantile(q=.99)]
# min_stay
data = data[data['min_stay'] <= data['min_stay'].quantile(q=.99)]

### Describe_After

In [12]:
data[['num_bedrooms', 'num_bathrooms', 'num_beds', 'max_guests',
 'checkin_price', 'weekly_price', 
 'cleaning_fee','additional_guests_fee', 'additional_children_fee', 
 'additional_infants_fee', 'standard_guests', 'standard_children',
 'standard_infants', 'min_stay']].describe(include='all')

       num_bedrooms  num_bathrooms      num_beds  ...  standard_children  standard_infants      min_stay
count  10149.000000   10149.000000  10149.000000  ...       10149.000000      10149.000000  10149.000000
mean       1.419647       1.351857      1.797813  ...           2.973298          0.159819      1.067888
std        0.745088       0.683907      1.134140  ...           1.872139          1.074060      0.275856
min        0.000000       0.000000      1.000000  ...           0.000000          0.000000      1.000000
25%        1.000000       1.000000      1.000000  ...           2.000000          0.000000      1.000000
50%        1.000000       1.000000      1.000000  ...           2.000000          0.000000      1.000000
75%        2.000000       2.000000      2.000000  ...           4.000000          0.000000      1.000000
max        6.000000       5.000000      9.000000  ...          10.000000         60.000000      3.000000

[8 rows x 14 columns]

In [13]:
data

          id  num_bedrooms  num_bathrooms  num_beds  ...   province    district  exp_type   region
0      29329           2.0            2.0       2.0  ...      HaNoi      BaDinh     Delta    North
1      36402           2.0            2.0       2.0  ...  HoChiMinh       Quan4     Delta    South
2      37069           1.0            1.0       1.0  ...  HoChiMinh   BinhThanh     Delta    South
3      37148           2.0            2.0       2.0  ...  HoChiMinh   BinhThanh     Delta    South
4      36712           1.0            1.0       1.0  ...  HoChiMinh       Quan4     Delta    South
5      36711           1.0            1.0       1.0  ...  HoChiMinh       Quan4     Delta    South
6      36488           1.0            1.0       1.0  ...  HoChiMinh       Quan4     Delta    South
7      68869           1.0            1.0       1.0  ...  HoChiMinh       Quan1     Delta    South
8      12054           1.0            1.0       1.0  ...      HaNoi      BaDinh     Delta    North
9      13859           3.0            2.0       3.0  ...  QuangNinh   Tp.HaLong     Beach    North
10     22312           1.0            1.0       1.0  ...      HaNoi    HoanKiem     Delta    North
11     25136           1.0            1.0       1.0  ...      HaNoi       TayHo     Delta    North
...      ...           ...            ...       ...  ...        ...         ...       ...      ...
11116  69146           1.0            1.0       3.0  ...  HoChiMinh     TanBinh     Delta    South
11117  69147           1.0            1.0       3.0  ...  HoChiMinh     TanBinh     Delta    South
11118  69154           1.0            1.0       1.0  ...  KienGiang  Tp.PhuQuoc     Beach    South
11119  69156           1.0            1.0       2.0  ...  KienGiang  Tp.PhuQuoc     Beach    South
11120  69183           2.0            1.0       3.0  ...  QuangNinh   Tp.HaLong     Beach    North
11121  68947           1.0            1.0       1.0  ...  QuangNinh   Tp.HaLong     Beach    North
11122  68949           1.0            1.0       1.0  ...  QuangNinh   Tp.HaLong     Beach    North
11123  68242           2.0            1.0       3.0  ...     DaNang  NguHanhSon     Beach  Central
11124  69025           1.0            1.0       1.0  ...    LamDong    Tp.DaLat  Mountain    South
11125  69065           4.0            4.0       4.0  ...    LamDong    Tp.DaLat  Mountain    South
11126  68582           1.0            1.0       1.0  ...      HaNoi    HoanKiem     Delta    North
11127  67816           1.0            1.0       1.0  ...     DaNang      SonTra     Beach  Central

[10149 rows x 25 columns]

In [14]:
data.to_csv(data_path+'\luxstay_dataset.csv', index=False)